<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> {{ title }} </ion-title>
        <!-- <ion-buttons slot="end">
                    <a [attr.href]="'https://github.com/' + user?.login">
                        <ion-icon name="logo-github"></ion-icon
                    ></a>
                </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
        >
            <ng-container *ngFor="let repo of repositories">
                <ion-card (click)="redirectToRepository(repo)">
                    <ion-card-header>
                        <ion-card-title>{{ repo.name }}</ion-card-title>
                        <ion-card-subtitle
                            color="tertiary"
                            *ngIf="repo.owner?.login !== user?.login"
                            >{{ repo.owner?.login }}</ion-card-subtitle
                        >
                        <ion-card-subtitle color="danger">{{
                            repo.language ? repo.language : 'not defined'
                        }}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-label>
                            {{ repo.description }}
                        </ion-label>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
